.todo-list-container{
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 500px;
  width: 500px;
  align-items: center;

}
.todo-list-header{
  padding-left: 100px;
  padding-right: 40px;
  background-color: blue;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.todo-list-content{
  width: 50%;
}
