.list-item {
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 46, 70,.7);
  border-bottom: 1.6px solid black;
  height: 50px;
  align-items: center;
  padding: 0px 10px;
}

.list-title {
  color:white;
}

.list-icons {
  
}